.menu a {
	
	display:inline-block;
	width:100px;
	padding:8px;
	padding-top:16px;
	border-top: 2px solid;
	text-align:center;
	
}


.menu a:hover {
	
	border-top: 4px solid;
	padding-top:14px;
	text-align:center;
	
	
}