
#site-title {
	
	top:30px;
	left:0px;
	
}


#menu01 {
	
	top:39px;
	left: 464px;
}


#slogan {
	
	top:70px;
	left:6px;
	
}


#footer1 {
	
	top:816px;
	left:366px;
	
}


#footer2 {
	
	top:816px;
	left:600px;
	
}


/*h1 {
    display:inline-block;
}*/
