@charset "UTF-8";

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
*/


/* -- Base drop-down styling -- */

ul.dropdown.default-theme {
    font-weight: bold;
}

ul.dropdown.default-theme li {
    padding: 7px 10px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #fff #d9d9d9 #d9d9d9;
    background-color: #f6f6f6;
    color: #000;
}

ul.dropdown.default-theme li.hover,
ul.dropdown.default-theme li:hover,
ul.dropdown.default-theme li.on {
    background-color: #eee;
    color: #000;
}

ul.dropdown.default-theme a:link,
ul.dropdown.default-theme a:visited	{ color: #000; text-decoration: none; }
ul.dropdown.default-theme a:hover		{ color: #000; }
ul.dropdown.default-theme a:active	{ color: #ffa500; }

/* -- level mark -- */

ul.dropdown.default-theme ul {
    width: 150px;
    margin-top: 1px;
}

ul.dropdown.default-theme ul li {
    font-weight: normal;
}


/* -- Supporting class `dir` -- */

ul.dropdown.default-theme *.dir {
    padding-right: 20px;
    background-image: url(../images/default/nav-arrow-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}


/* -- Components override -- */

ul.dropdown-horizontal.default-theme ul *.dir {
    padding-right: 15px;
    background-image: url(../images/default/nav-arrow-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

ul.dropdown-upward.default-theme *.dir {
    background-image: url(../images/default/nav-arrow-top.png);
}

ul.dropdown-vertical.default-theme *.dir,
ul.dropdown-upward.default-theme ul *.dir {
    background-image: url(../images/default/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl.default-theme *.dir,
ul.dropdown-horizontal.default-theme > li.dropdown-vertical-rtl ul *.dir {
    padding-right: 10px;
    padding-left: 15px;
    background-image: url(../images/default/nav-arrow-left.png);
    background-position: 2px 50%;
}