#flexly-component-background-color {
    border: 2px solid #999999;
    border-radius: 6px;
    float: left;
    height: 29px;
    width: 51px;
    margin-right: 11px;
}

.patterns {
    width: 214px;
    height: 104px;
    position: relative;
    top: 2px;
    left: 2px;
}

.patterns .jquery-scrollbar-container {
    border: 2px solid #999;
    border-radius: 6px;
}

.patterns .jquery-scrollbar-vertical { 
    top: 2px;
    right: -12px;
}

.patterns-container {
    position:relative;
}

.pattern-sample {
    width: 214px;
    height: 60px;
}

.pattern-sample:not(:last-child){
    border-bottom: 1px solid #999;
}

.pattern-sample.selected {
    background-color: #F15A24;
}

.pattern-sample.pattern-image {
    background-image: url("../images/patterns.png");
    background-position-x: 0px;
}