.button-component-instance {
    width: 150px;
    height: 30px;
}
.button-component-instance a{
    text-align: center;
    height: 100%;
    padding: 0px;
}
.button-component-instance span {
    display:inline-block;
    margin: 0 auto;
}