.cke_button__linkextra_icon {
    background: url('../js-libs/ckeditor/skins/moono/icons.png') 0 -1600px !important;
}

.cke_button__unlinkextra_icon {
    background: url('../js-libs/ckeditor/skins/moono/icons.png') 0 -1632px !important;
}

.cke {
    z-index: 10000000;
}

.cke_dialog_background_cover { 
    display:none !important;
}