.flexly-collapsable-panel {
    margin: 7px;
    padding: 10px;
    border: 2px solid #cccccc;
    background-color: #f2f2f2;
    border-radius: 6px;
    min-height: 10px;
}

.flexly-collapsable-header {
    width: 238px;
    cursor: pointer;
}

.flexly-collapsable-header-icon {
   float:left;
}

.flexly-collapsable-title {
    float:left;
    margin:2px 0 0 5px;
    color: #4d4d4d;
    font-size: 11px;
}

.flexly-collapsable-content {
    margin-top: 19px;
    display:none;
}