.flexly-icon {
    background: transparent url('../images/icons.png') no-repeat;
    cursor: pointer;
}

.flexly-logo {
    /*position:absolute;*/
    background-position: -190px -8px ; 
    width:46px;
    height:46px;
    margin-top:12px; margin-left:10px; margin-bottom:0px;
}

.flexly-icon-close-black {
    background-position: -201px -74px; 
    width:21px;
    height:21px;
    margin:0 auto;
}


.flexly-icon-page {
    background-position: -6px -6px; 
    width:36px;
    height:47px;
    top:100px;
    margin:0 auto;
}

.flexly-icon-page:hover {
    background-position: -60px -6px; 
}	

.flexly-icon-wizard {
    background-position: -8px -53px; 
    width:36px;
    height:42px;
    margin:0 auto;
}	

.flexly-icon-wizard:hover {
    background-position: -62px -53px; 
}	


.flexly-icon-photos {
    background-position: -9px -114px; 
    width:36px;
    height:44px;
    margin:0 auto;
}

.flexly-icon-photos:hover {
    background-position: -63px -114px; 
}		

.flexly-icon-clipart {
    background-position: -9px -155px; 
    width:38px;
    height:52px;
    margin:0 auto;
}

.flexly-icon-clipart:hover {
    background-position: -63px -155px; 
}		

.flexly-icon-docs {
    background-position: -9px -205px; 
    width:36px;
    height:44px;
    margin:0 auto;
}

.flexly-icon-docs:hover {
    background-position:  -63px -205px; 
}	

.flexly-icon-widgets {
    background-position: -9px -248px; 
    width:36px;
    height:48px;
    margin:0 auto;
}

.flexly-icon-widgets:hover {
    background-position:-63px -248px ; 
}	

.flexly-icon-preview {
    background-position:-7px -313px ; 
    width:38px;
    height:34px;
    margin:0 auto;
}

.flexly-icon-preview:hover {
    background-position:-61px -313px ; 
}		


.flexly-icon-settings {
    background-position:-7px -360px ; 
    width:38px;
    height:52px;
    margin:0 auto;
}

.flexly-icon-settings:hover {
    background-position:-61px -360px ; 
}								

.flexly-icon-publish {
    background-position:-7px -408px ; 
    width:38px;
    height:44px;
    margin:0 auto;
}

.flexly-icon-publish:hover {
    background-position:-61px -408px ; 
}	

.flexly-icon-drag {
    background-position:-234px -236px ; 
    width: 12px;
    height: 19px;
}

.flexly-icon-gear-black {
    background-position: -202px -270px;
    width: 18px;
    height: 18px;
}

.flexly-icon-arrow-e-black {
    background-position: -203px -301px;
    width: 17px;
    height: 16px;
}

.flexly-icon-add-page {
    background-position: -190px -403px;
    width: 40px;
    height: 39px;
}

.flexly-icon-checkbox {
    background-position: -170px -153px;
    width: 14px;
    height: 14px;
}

.flexly-icon-checkbox-checked {
    background-position: -170px -135px; 
    width: 14px;
    height: 14px;
}

.flexly-icon-radiobutton {
    
}

.flexly-icon-radiobutton-checked {
    
}

.flexly-icon-cancel-button {
    background-position: -449px -411px;
    cursor: pointer;
    width: 28px;
    height: 30px;
}
.flexly-icon-save-button {
    background-position: -489px -404px;
    cursor:pointer;
    width: 24px;
    height: 36px;
}

.flexly-icon-gear-small-dark {
    background-position: -206px -335px;
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.flexly-icon-trash-small-dark {
    background-position: -206px -352px;
    width: 11px;
    height: 12px;
    cursor: pointer;
}

.flexly-icon-photos-light {
    background-position: -241px -403px;
    width: 31px;
    height: 39px;
}

.flexly-icon-clipart-light {
    background-position: -289px -403px;
    width: 31px;
    height: 39px;
}

.flexly-icon-flicker-light {
    background-position: -336px -403px;
    width: 31px;
    height: 39px;
}

.flexly-icon-upload-light {
    background-position: -373px -403px;
    width: 30px;
    height: 39px;
}

.flexly-icon-search-light {
    background-position: -412px -403px;
    width: 26px;
    height: 39px;
}

.flexly-icon-back-light {
    background-position: -379px -360px;
    width: 22px;
    height: 39px;
}

.flexly-icon-box-component {
    width: 31px;
    height: 31px;
    background-position: -328px -39px;
}
.flexly-icon-strip-component {
    background-position: -329px -6px;
    width: 29px;
    height: 26px;
}
.flexly-icon-text-header-component{
    background-position: -329px -79px;
    width: 30px;
    height: 30px;
}

.flexly-icon-text-paragraph-component {
    background-position: -329px -119px;
    width: 30px;
    height: 30px;
}

.flexly-icon-close-small-black {
    background-position: -202px -375px;
    width: 18px;
    height: 18px;
}

.flexly-icon-close-small-light {
    background-position: -237px -55px;
    width: 12px;
    height: 12px;
}

.flexly-icon-alert {
    background-position: -377px -11px;
    width: 43px;
    height: 38px;
}

.flexly-icon-close-big-black {
    background-position: -450px -404px;
    width: 24px;
    height: 24px;
}

.flexly-icon-check-big-black {
    background-position: -488px -404px;
    width: 24px;
    height: 24px;
}