ul.flexly-menu-photos-list li {
    width: 118px;
    border-radius: 6px;
    background-color: #babcb9;
    padding: 10px;
}

ul.flexly-menu-photos-list li.photo-selected{
    background-color: #6f6f6f;
}

ul.flexly-menu-photos-list li:not(:last-child){
    margin-bottom: 1px;
}

.flexly-menu-photos .left-column li {
    width: 118px;
}

.flexly-menu-photos {
/*    position: relative;*/
}

.flexly-menu-photos .left-column {
    width: 138px;
    float:left;
    margin-right: 1px;
}

.flexly-menu-photos .right-column {
    width: 137px;
    float:left;
}

.photo-upload-notification {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    background-color: rgba(204,204,204,0.7);
    color: #4a4a4a;
    width: 250px;
    padding: 10px;
    z-index: 30000001;
}

.photo-upload-notification .info {
    position:absolute;
    top: 18px;
    left: 43%;
}

#photo-search-box {
    position:absolute;
    top: 50%;
    left: 50%;
    padding: 3px;
    margin-top: -13px;
    margin-left: -103px;
    height: 20px;
    width: 200px;
    background-color: #e6e6e6;
    border-width: 0;
    border-bottom: 1px solid #c4c4c4;
    outline: 0px;
    border-radius: 6px;
}

#flicker-search-box {
    position:absolute;
    top: 50%;
    left: 50%;
    padding: 3px;
    margin-top: -13px;
    margin-left: -80px;
    height: 20px;
    width: 150px;
    background-color: #e6e6e6;
    border-width: 0;
    border-bottom: 1px solid #c4c4c4;
    outline: 0px;
    border-radius: 6px;
}

.photos-tab-icon { 
    opacity: 0.5;
}

.photos-tab-icon:hover {
    opacity: 1;
}

.photos-tab-icon.photos-current {
    opacity:1;
}

.photos-selected {
    
}