.tweet-button-component-instance .overlay{
    top:0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.flexly-tweet-button-settings textarea {
    width: 227px;
    height: 60px;
}

.flexly-tweet-button-settings div label {
    display: inline-block;
}

.flexly-tweet-button-settings div input {
    height: auto;
}

.flexly-tweet-button-settings .tweet-url input.tweet-button-url {
    width: 203px;
}