.form-to-mail-component-instance label {
    width: 60px;
    display: inline-block; 
}

.form-to-mail-component-instance form {
    display:inline-block;
    padding: 10px;
}

.form-to-mail-component-instance .after-submit-message {
    font-weight: bold;
}

.form-to-mail-component-instance textarea {
    width: 276px;
}
.form-to-mail-component-instance .form-message-float {
    position: absolute;
    top: 10px;
    left: 244px;
}

.form-to-mail-component-instance .form-message-float textarea {
    height: 68px;
}